/**
 * This is a sample config file for JARVIG
 * Remove the .dist extension to use
 *
 * MARVEL API KEYS
 * replace the public and private keys with your own
 * You can get your api keys at: https://developer.marvel.com/account
 *
 * GOOGLE ANALYTICS TRACKING
 * replace default trackingId with your own
 *
 */

const config = {
  marvelApi: {
    publicKey: "YOUR_PUBLIC_API_KEY",
    privateKey: "YOUR_PRIVATE_API_KEY",
    baseUrl: `${window.location.protocol || "http:"}//gateway.marvel.com/`
  }
};

export default config;
